<?php
return [
    'settings' => [
        // Slim Settings
        'determineRouteBeforeAppMiddleware' => false,
        'displayErrorDetails'               => true,

        // View settings
        'view'                              => [
            'template_path' => __DIR__ . '/templates',
            'twig'          => [
                'cache'       => __DIR__ . '/../storage/cache/twig',
                'debug'       => true,
                'auto_reload' => true,
                'sitename'    => 'Skeleton'
            ],
        ],

        // Datatbase settings
        'db'                                => [
            'driver'   => 'mysql',
            'host'     => 'db',
            'database' => 'app',
            'username' => 'root',
            'password' => 'secret',
            'charset'  => 'utf8',
        ],

        // Monolog settings
        'logger'                            => [
            'name' => 'app',
            'path' => __DIR__ . '/../storage/log/app.log',
            'level' => Monolog\Logger::DEBUG
        ],
    ],
];
